# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# Environment variables — sensitive!
.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
static_collected/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Exclude erp_project folder
erp_project/

# Exclude ui reference folder
ui/
guide.md
